<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: 테이블 행단위 색 입히기 :::</title>
    <style>
        table {
            /* 한줄 선그리기 */
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        /* tr태그 영역에 마우스가 올라갔을때 스타일을 지정하는 방식 */
        tr:hover {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h3>테이블 행단위 색 입히기</h3>
    <hr/>
    <table border="1">
        <tr>
            <tr>
                <th>1</th>
                <th>홍길동</th>
                <th>광주광역시 소촌동 1-1</th>
            </tr>
            <tr>
                <th>2</th>
                <th>홍길동2</th>
                <th>광주광역시 소촌동 1-2</th>
            </tr>
            <tr>
                <th>3</th>
                <th>홍길동3</th>
                <th>광주광역시 소촌동 1-3</th>
            </tr>
            <tr>
                <th>4</th>
                <th>홍길동4</th>
                <th>광주광역시 소촌동 1-4</th>
            </tr>
            <tr>
                <th>5</th>
                <th>홍길동5</th>
                <th>광주광역시 소촌동 1-5</th>
            </tr>
        </tr>
    </table>

</body>
</html>